
.vs/slnx.sqlite
.vs/TP2-Simulación/FileContentIndex/42682cd9-a2f1-4f59-9e26-72525dc4f29a.vsidx
.vs/TP2-Simulación/FileContentIndex/7d529bbc-55ea-428c-a9e6-f975471b1861.vsidx
.vs/VSWorkspaceState.json
TP2-Simulación/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
TP2-Simulación/obj/Release/DesignTimeResolveAssemblyReferences.cache
TP2-Simulación/obj/Release/TP2-Simulación.csproj.AssemblyReference.cache
*.cache
*.user
*.cache
.vs/TP2-Simulación/v17/.suo
